{% include head.html %}
{% include navigation.html %}
<!-- Player Section -->
<section class="player-info-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-6 col-sm-12">
                <div class="inner wow fadeInRight">
                    <div class="title-box">
                        <div class="user-title">{{ page.displayname }}</div>
                        <div class="user-info">Member Since {{ page.membersince }}  .  {{ page.country }}</div>
                    </div>
                    <div class="text">{{ page.description }}</div>
                    <ul class="social-icons">
                        {% if page.twitch %} <li><a href="{{ page.twitch }}"><span class="fab fa-twitch"></span></a></li>{% endif %}
                        {% if page.tiktok %}<li><a href="{{ page.tiktok }}"><span class="fab fa-instagram"></span></a></li>{% endif %}
                        {% if page.instagram %}<li><a href="{{ page.instagram }}"><span class="fab fa-instagram"></span></a></li> {% endif %}
                        {% if page.twitter %}<li><a href="{{ page.twitter }}"><span class="fab fa-twitter"></span></a></li>{% endif %}
                    </ul>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-6 col-sm-12">
                <div class="inner wow fadeInLeft">
                    <figure class="image"><img src="{%for image in page.image%}{{image.url}}{% endfor %}" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

{% if page.merch %}
<!--MERCH Section-->
<section class="awards-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Check Out My</div>
            <h2>merch</h2>
        </div>
        <div class="awards-outer">
            <!--Awards Carousel-->
            <ul class="awards-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/assets/images/awards/5.png" alt=""></a></figure></li>
            </ul>
        </div>
        
    </div>
</section>
<!--End merch Section-->
{% endif %}

{% if page.showgallery %}
<section class="gallery-section-three">
    
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Check Out My</div>
            <h2>Artwork</h2>
        </div>
        
        <div class="row clearfix">
        
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/17.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/17.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/18.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/18.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/19.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/19.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/20.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/20.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/21.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/21.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/22.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/22.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/23.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/23.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/24.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/24.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="images/gallery/25.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                    <a href="images/gallery/25.jpg" data-fancybox="gallery-2" data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            
        </div>
        
    </div>
    
</section>
{% endif %}
{% include footer.html %}